{% extends 'account/person_center.html' %}
{% load i18n static %}

{% block head %}
    <title>密码修改成功</title>
{% endblock head %}

{% block person %}
<div class="tabs">
    <ul>
        <li class="is-active"><a>找回密码</a></li>
    </ul>
</div>
<div class="content">
        <h1>{{ title }}</h1>
    <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

    <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
</div>

{% endblock person %}