.video{
    width: 100%;
    height: 100%;
}

.video video{
    object-fit: fill;
    width: 100%;
    height: 100%;
    display: block;
}

.login-form{
    font-family: "微软雅黑 Light";
    position: absolute;
    opacity: 0.8;
    border-radius: 20px 0 20px 0;
    top: -25%;
    left: 80%;
    width: 300px;
    transform: translate(-50%,50%);
    padding: 50px;
    background: white;
    box-shadow: 0 15px 20px rgba(0,0,0, 0.5);
}
.p1{
    font-size: 14px;
    color:black;
}
.p1 a{
    text-decoration: none;
    color: blue;
}
.login-form h1{
    margin: -10px 0 15px;
    padding: 0;
    /* text-align: center; */
}
.login-form .form-input input{
    outline: none;
    height: 30px;
    padding: 5px;
    margin: 2px;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid rgba(0,0,0, 0.82);
    font-size: 16px;
}

.login-form .loginbutton input{
    height: 40px;
    margin: 3px;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid rgba(0,0,0, 0.82);
    font-size: 16px;
    background: #e91e63;
    color: #fff;
    
}

.login-form .loginbutton input:hover{
    background: #26bcff;
    animation-delay: 1s;
}

.forget{
    padding: 5px;
    margin: 10px;
}